.center{
	text-align:center;
}


textarea{
	display: block;
	margin-left: auto;
    margin-right: auto;
	width: 700px;
	max-height:100px;
	max-width: 700px;
	height:100px;
}



:target:before {
content:"";
display:block;
height:70px; /* fixed header height*/
margin:-70px 0 0; /* negative fixed header height */
}


#pic{
	position: relative;
  top: 20px;
}
